.log-btn{
  font-weight: bold;
  border-radius: 5px;
  font-size: 16;
  color: white;
}

.username-btn{
  font-weight: bold;
  font-size: 16;
  border-radius: 5px;
  border: solid 1px black;
  padding: 8;
  color: black;
}
